<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Meet a Mate</title>
    <link href="/static/css/aboutus.css" rel="stylesheet" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
    <link rel="website icon" href="reallogo.png"/> 
    <script src="aboutus.js"></script>
  </head>
  
      <!--NAV BAR-->   
    <body>
      <nav class="nav-bar">
        <a href="/"><img class="header" id = "logo" src = "/static/images/realreallogo.png" ></a>
        <ul class="nav-bar-options" >
          <li class="option_main"><a href="/">OUR IDEA</a></li>
          <li class="option"><a href="/mate">FIND A MATE</a>            
          <li class="option"><a href="/aboutus">ABOUT US</a></li></li>
        </ul>
      </nav>
            <!--
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn"> RESOURCES </a>
            <div class="dropdown-content">
              <a class="link1" href="forparents.html">FOR PARENTS</a>
              <a class = "link2" href="forchildren.html">FOR CHILDREN</a>
              <a class = "link3" href="foreveryone.html">FOR EVERYONE</a>
            </div>
          </li>
            -->
          <li class="option_main"><a href="aboutus.html">ABOUT US</a></li></li>
        </ul>
      </nav>
      
    <section class = "information">
      <h1 class= "statement-title"> LEARN MORE ABOUT THE TEAM </h1>
    
    <section class="container">
      <section class="column left">
        <div class="container-mini">
          <img src="/static/images/adya1.jpg"  alt="profile picture" height="300" width="300" class="pic">
          <div class="overlay">
            <div class="text"> Adya Kadam is a sophmore from the Bay Area. She loves to code and play field hockey. While she's not playing field hockey you can find her reading, crocheting, and watching tv.</div>
          </div>
        </div>
        
        <div class="container-mini">
          <img src="/static/images/nidhi.png"  alt="profile picture" height="300" width="300" class="pic">
          <div class="overlay">
            <div class="text"> Nidhi Vallabhaneni is a sophmore who lives in the Bay Area. She spends most of her time skiing, playing field hockey, and hanging out with friends.</div>
          </div>
        </div>
        
      </section>
        <section class="column right">
          <div class="statement-text">
Our purpose for creating “Meet-a-Mate” is to help students above 9th grade that are new or transfered to highschool to find someone that can guide them through the school year.   
<br>
<br>
<br>
Our team developed this website from the fact that we were new students in highschool. We both realized that we had a hard time adjusting because there wasn't anyone to guide us. We wanted to create a community where new students can be matched with mentors that could help guide them to a fun highschool experience!
        </section>
      <p class="space"> </p>
      <!--
      <h1 class= "statement-title"> Sources </h1>
      <p class="sources-text"> https://www.clccal.org/resources/foster-care-facts/
https://dq.cde.ca.gov/dataquest/foster/fosterGrdEnrl.aspx?level=State&cds=&year=2019-20
https://fosteringchamps.org/wp-content/uploads/2018/04/NationalEducationDatasheet2018-2.pdf 
https://jlc.org/news/what-foster-care-prison-pipeline#:~:text=One%20study%20showed%20that%20more,stay%20in%20a%20correctional%20facility 
https://www.childwelfare.gov/pubPDFs/bulletins_youthsud.pdf
https://www.chapinhall.org/wp-content/uploads/CY_YT_RE0518_1.pdf
https://www.afs4kids.org/blog/foster-youth-education-in-california-what-you-need-to-know/#:~:text=Unfortunately%2C%20the%20numbers%20are%20too,%25%20for%20the%20state%20overall
https://www.ncsl.org/research/human-services/mental-health-and-foster-care.aspx 
https://datacenter.kidscount.org/data#USA/2/35/38,40/char/0
https://adoptioninchildtime.org/bondingbook/striking-back-in-anger-delinquency-and-crime-in-foster-children#:~:text=A%20variety%20of%20studies%20reported,been%20convicted%20of%20a%20crime
https://www.forothers.com/the-crisis/?gclid=CjwKCAjwlqOXBhBqEiwA-hhitJ2UTKs3X4Qnj2FBVfq86UJ71b8NfFUIumIuc9HKEQo622LGJsZQCxoCSa0QAvD_BwE
https://extras.mercurynews.com/druggedkids/part1.html#:~:text=An%20investigation%20by%20this%20newspaper,rate%20for%20all%20adolescents%20nationwide
</p>
      -->

<!-- 
      <h1 class="statement-text">
        TEXT
      <br>
      <br>
        KODE WITH CLOSSY TEXT
      </h1> -->
 
  </body>
</html>